* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #0671dc;
    font-family: 'Readex Pro', sans-serif;
	color: black;
}
.titulo{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: yellow;
}
.encabezado{
    background-color: black;
}

img{
    width: 50px;
}

.encabezado nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: black;
}

.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    padding: 12px 20px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

a:hover{
    background-color: rgb(44,44,44);
}

.encabezado nav ul li ul{
    display: flex;
    flex-direction: column;
}

.encabezado nav ul li ul{
    position: absolute;
    background: black;
}

.encabezado nav ul li ul li{
    width: 180px;
    position: relative;
}

.encabezado nav ul li ul{
    display: none;
}

.encabezado nav ul li:hover>ul{
    display: block;
}
.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 120px;
	text-transform: uppercase;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.contenedor::after {/*DESPUES DE*/
	/* Insertan contenido después de la acción inicial */
	content: "";
	width: 3px;
	height: 100%;
	background: black;
	position: absolute;
	top: 0;
	/* calcular el ancho de un elemento */
	left: calc(50% - 1px);
	/* Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. */
	z-index: 1;
}

.evento {
	display: flex;
	/* alinea los elementos del contenedor flexible */
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}
.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid black;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}
.foto img {
	width: 100%;
	vertical-align: top;
}

.nombre{
display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 100px;
	font-weight: normal;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}
.foto img {
	width: 100%;
	vertical-align: top;
}
/* Representa elementos cuya posición numérica en una serie de hermanos es impar */
.evento:nth-child(even) {
	flex-direction: row-reverse;
}


.evento:nth-child(even) .nombre {
	justify-content: end;
}
.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}