*{
    margin: 0;
}
.titulo-chespi{
background-color: rgb(52, 206, 25);
padding: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 50px;
}

.parrafo1-chespi{
    font-size: 30px;
    font-family: cursive;
    padding: 10px 0 10px 20px;
}

.parrafo2-chespi{
    font-size: 20px;
    margin: 0px 0 10px 20px;
    font-family: cursive;
}

#boton{
    padding: 30px ;
    background-color: black;
    color: rgb(52, 206, 25);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}